
/* Quicksand */
@font-face {
	font-family: 'Quicksand';
	font-weight: 700;
	src: url('../fonts/quicksand-bold.woff');
}

@font-face {
	font-family: 'Quicksand';
	font-weight: 400;
	src: url('../fonts/quicksand-regular.woff');
}

/* Sofia Pro Light */
@font-face {
	font-family: 'Sofia Pro';
	src: url('../fonts/sofia-pro-light.woff');
	font-weight: normal;
}


body {
	font-size: 18px;
	font-family: Sofia Pro, sans-serif;
	background-color: #e0f4fc;
	padding: 0;
	margin: 0;
}

main, footer > section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

item {
  display: inline-table;
  margin: 5px;
  max-width: 280px;
  min-height: 350px;
}

item img{
  width: 280px;
  height: 180px;
}
